html, body {
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -webkit-print-color-adjust: exact;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;

  &:focus {
    border: none;
    outline: none;
  }
}
